@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Poppins, 'sans-serif' !important
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Poppins, 'sans-serif' !important
}

.chat-content {
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgba(166, 166, 176, 0.11) #ffffff;
}

.chat-list {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(166, 166, 176, 0.11) #ffffff;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(166, 166, 176, 0.11);
    border-radius: 20px;
    border: 3px solid #ffffff;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-inline-start: 0 !important;
}

.enquiry-side {
    background: url("/images/enquiry-bg.jpg") !important;
    background-size: cover !important;
}

.bg-gray-100 {
    background: #F2F4F7;
}

.bg-gray-200 {
    background: #EAECF0;
}

.bg-gray-300 {
    background: #D0D5DD;
}

.bg-gray-400 {
    background: #98A2B3;
}

.bg-gray-500 {
    background: #667085;
}

.bg-gray-600 {
    background: #344054;
}

.bg-gray-700 {
    background: #1D2939;
}

.bg-gray-800 {
    background: #101828;
}

.mobile-steps > :where(.css-dev-only-do-not-override-mxhywb).ant-steps .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title  {
    display: none !important;
}

.mobile-steps >:where(.css-dev-only-do-not-override-mxhywb).ant-steps .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    display: none !important;
}

.mobile-steps > :where(.css-dev-only-do-not-override-mxhywb).ant-steps.ant-steps-vertical {
    flex-direction: row !important;
}

.mobile-steps > :where(.css-dev-only-do-not-override-mxhywb).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    display: none !important;
}

//.enquiry-programs.ant-checkbox-group {
//    display: block !important;
//}
