.pagination {
    display: flex;
    gap: 5px;
    align-items: center;
}

.page-item{
    border: solid 1px white;
    padding: 8px 15px;
    cursor: pointer;
}

.page-item:hover {
    border-radius: 10px;
    border: solid 1px var(--Blue-400)
}

.page-item.active {
    color: var(--Blue-400);
    background-color: var(--White);
    border: solid 1px var(--Blue-400);
    border-radius: 10px;
    outline: none !important;
}

.page-link {
    color: var(--Gray-900);
    background-color: transparent;
    border-radius: 10px;
    border: none;
    outline: none !important;
}

.page-item:first-child:hover,
.page-item:last-child:hover {
    border: solid white 1px;
}
